extends ./layout.jade

block info
    .messageArea
        .caption "Success sits on a mountain of mistakes" - Bangambiki Habyarimana
        .message
            .header: h1= heading
            .body= message