<?xml
    version="1.0"
    encoding="utf-8"?>
<configuration>
    <configSections>
        <section
            name="specFlow"
            type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />

        <section
            name="microsoft.visualstudio.qualitytools"
            type="Microsoft.VisualStudio.TestTools.UnitTesting.TestConfigurationSection,
                  Microsoft.VisualStudio.QualityTools.UnitTestFramework" />
    </configSections>

    <connectionStrings>
        <add
            name="AmountTests"
            connectionString="Model\AmountTests.xml"
            providerName="Microsoft.VisualStudio.TestTools.DataSource.XML" />
    </connectionStrings>

    <microsoft.visualstudio.qualitytools>
        <dataSources>
            <add
                name="AmountTests"
                connectionString="AmountTests"
                dataTableName="AmountOperationTest"
                dataAccessMethod="Sequential"/>
        </dataSources>
    </microsoft.visualstudio.qualitytools>

    <specFlow>
        <unitTestProvider
            name="MsTest" />
        <generator
            allowDebugGeneratedFiles="false"
            allowRowTests="true"
            generateAsyncTests="true" />
        <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
    </specFlow>
</configuration>