doctype html

html
    head
        meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
        title= site.name
        link(href='css/site.css' rel='stylesheet' type='text/css')
body
    .wrapper
        header: h1= site.name
        .body
            block info
                include ./menu.jade

                    //- .box: .content Poll:
                    //- .box: .content Features:
                    //- .box: .content Links:

                block content
        .push
    footer
        nav
            include ./subnav.jade
        span.copyright
            | StarCraft&reg; II and Blizzard Entertainment&reg; are all trademarks or registered trademarks of Blizzard Entertainment in the United States and/or other countries. <br> These terms and all related materials, logos, and images are copyright &copy; Blizzard Entertainment. This siteis
            | in no way associated with or endorsed by Blizzard Entertainment&reg;.