if (categories && categories.length > 0)
    nav
        each category in categories
            if category.description && category.description.length > 0
                a(href='/#{category.id}', title=category.description)=category.name
            else
                a(href='/#{category.id}')=category.name