nav.navbar {
    border-radius: 0;
}

div.container-fluid {
    padding: 0;
}

div.content {
    width: 700px;
    margin: 0 auto;
}

div.content > footer{
    text-align: center;
}

div.center {
    text-align: center;
}

div.content > h1{
    text-align: center;
}

div.content > p {
    text-align: justify;
    text-indent: 40px;
}

.api p {
    text-align: justify;
}