include ./post.jade
extends ../layout.jade
- var md = require('markdown').markdown;
block content
    .articles
        .caption= caption
        each post in posts
            +post(post)
        // article
        //     header: h1 Title
        //     section.body
        //         p.
        //             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam non urna. Phasellus id diam at diam fermentum pulvinar. Donec
        //             quis nibh non nibh semper aliquet. Cras sed nisl. Pellentesque habitant morbi tristique senectus
        //             et netus et malesuada fames ac turpis egestas. Vestibulum ultricies, nisi at mattis facilisis,
        //             dolor arcu feugiat velit, eu vehicula leo justo at neque. Nunc quis augue id dolor varius tristique.
        //             Ut tempor lacinia justo. Vestibulum eu magna. Nullam porta. Duis hendrerit ornare magna. Suspendisse
        //             potenti. Phasellus et eros. Integer et nibh. Pellentesque ac felis a nibh porttitor fringilla.
        //             Fusce imperdiet arcu vitae mauris.
        //     footer
        //         .author Posted by: Author
        //         .time 1:00PM 01/02/07
        // article
        //     header: h1 Title
        //     section.body
        //         p.
        //             Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam non urna. Phasellus id diam at diam fermentum pulvinar. Donec
        //             quis nibh non nibh semper aliquet. Cras sed nisl. Pellentesque habitant morbi tristique senectus
        //             et netus et malesuada fames ac turpis egestas. Vestibulum ultricies, nisi at mattis facilisis,
        //             dolor arcu feugiat velit, eu vehicula leo justo at neque. Nunc quis augue id dolor varius tristique.
        //             Ut tempor lacinia justo. Vestibulum eu magna. Nullam porta. Duis hendrerit ornare magna. Suspendisse
        //             potenti. Phasellus et eros. Integer et nibh. Pellentesque ac felis a nibh porttitor fringilla.
        //             Fusce imperdiet arcu vitae mauris.
        //         ul
        //             li test 1
        //             li test 2
        //             li test 3
        //         p
        //             | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam non urna. Phasellus id diam at diam fermentum pulvinar. Donec
        //             | quis nibh non nibh semper aliquet. Cras sed nisl. Pellentesque habitant morbi tristique senectus
        //             | et netus et malesuada fames ac turpis egestas. Vestibulum ultricies, nisi at mattis facilisis,
        //             | dolor arcu feugiat velit, eu vehicula leo justo at neque. Nunc quis augue id dolor varius tristique.
        //             | Ut tempor lacinia justo. Vestibulum eu magna. Nullam porta. Duis hendrerit ornare magna. Suspendisse
        //             | potenti. Phasellus et eros. Integer et nibh. Pellentesque ac felis a nibh porttitor fringilla.
        //             | Fusce imperdiet arcu vitae mauris. 
        //             a(href='test') test
        //         p
        //             | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam non urna. Phasellus id diam at diam fermentum pulvinar. Donec
        //             | quis nibh non nibh semper aliquet. Cras sed nisl. Pellentesque habitant morbi tristique senectus
        //             | et netus et malesuada fames ac turpis egestas. Vestibulum ultricies, nisi at mattis facilisis,
        //             | dolor arcu feugiat velit, eu vehicula leo justo at neque. Nunc quis augue id dolor varius tristique.
        //             | Ut tempor lacinia justo. Vestibulum eu magna. Nullam porta. Duis hendrerit ornare magna. Suspendisse
        //             | potenti. Phasellus et eros. Integer et nibh. Pellentesque ac felis a nibh porttitor fringilla.
        //             | Fusce imperdiet arcu vitae mauris. 
        //             a(href='test') test
        //         p
        //             | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam non urna. Phasellus id diam at diam fermentum pulvinar. Donec
        //             | quis nibh non nibh semper aliquet. Cras sed nisl. Pellentesque habitant morbi tristique senectus
        //             | et netus et malesuada fames ac turpis egestas. Vestibulum ultricies, nisi at mattis facilisis,
        //             | dolor arcu feugiat velit, eu vehicula leo justo at neque. Nunc quis augue id dolor varius tristique.
        //             | Ut tempor lacinia justo. Vestibulum eu magna. Nullam porta. Duis hendrerit ornare magna. Suspendisse
        //             | potenti. Phasellus et eros. Integer et nibh. Pellentesque ac felis a nibh porttitor fringilla.
        //             | Fusce imperdiet arcu vitae mauris. 
        //             a(href='test') test
        //     footer
        //         .author Posted by: Author
        //         .time 1:00PM 01/02/07