include ../common.jade

extends ../layout.jade

block content
    h1 Log in
    +form('POST', 'Log in', 'Cancel', '/')
        +formGroup('username', 'text', 'Username', user)
        +formGroup('password', 'password', 'Password')