<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("27c8622d-c032-49b2-8e7b-fdf461a3c515");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>